# Ignore build artefact directories
api_libraries/
bin/
deps/
objs/
spv/
tmp/

# Ignore any build artefacts that might slip through
*.pch
*.gch
*.o
*.d
*.so
*.spv

# Ignore glad. User will have to provide their own
glad/

# Ignore cglm. User will have to provide their own
cglm/
