# Ignore build artaefact directories
api_libraries/
bin/
deps/
objs/
pch/
spv/
tmp/

# Ignore any build artaefacts that might slip through
*.pch
*.gch
*.o
*.d
*.so
*.spv

# Ignore glad. User will have to provide their own
glad/

# Ignore cglm. User will have to provide their own
cglm/
